OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
YAHOO_FINANCE_API_KEY=
YAHOO_FINANCE_RAPIDAPI_HOST=apidojo-yahoo-finance-v1.p.rapidapi.com
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
